img {
    width: 200px;
}
body{
    text-align: center;
    background: black;
    color: azure;
}
font{
    font-family: 'Arial';
}
button{
    text-align:center;
    
}
footer{
    text-align: bottom;
}